<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>designing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.royal.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.royal.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/Admin/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.royal.controller.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/Admin/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.royal.controller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/User/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.royal.controller.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/User/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.royal.controller.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/User/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/User/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/Admin/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreOwnerRegistrationServlet</display-name>
    <servlet-name>StoreOwnerRegistrationServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreOwnerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreOwnerRegistrationServlet</servlet-name>
    <url-pattern>/StoreOwner/StoreOwnerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStoreOwnerServlet</display-name>
    <servlet-name>UpdateStoreOwnerServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateStoreOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStoreOwnerServlet</servlet-name>
    <url-pattern>/StoreOwner/UpdateStoreOwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreOwnerLoginServlet</display-name>
    <servlet-name>StoreOwnerLoginServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreOwnerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreOwnerLoginServlet</servlet-name>
    <url-pattern>/StoreOwner/StoreOwnerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreOwnerLogoutServlet</display-name>
    <servlet-name>StoreOwnerLogoutServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreOwnerLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreOwnerLogoutServlet</servlet-name>
    <url-pattern>/StoreOwner/StoreOwnerLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreRegistrationServlet</display-name>
    <servlet-name>StoreRegistrationServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreRegistrationServlet</servlet-name>
    <url-pattern>/StoreOwner/StoreRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStoreServlet</display-name>
    <servlet-name>EditStoreServlet</servlet-name>
    <servlet-class>com.royal.controller.EditStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStoreServlet</servlet-name>
    <url-pattern>/StoreOwner/EditStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStoreServlet</display-name>
    <servlet-name>UpdateStoreServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStoreServlet</servlet-name>
    <url-pattern>/StoreOwner/UpdateStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStoreServlet</display-name>
    <servlet-name>ListStoreServlet</servlet-name>
    <servlet-class>com.royal.controller.ListStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStoreServlet</servlet-name>
    <url-pattern>/StoreOwner/ListStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStoreServlet</display-name>
    <servlet-name>DeleteStoreServlet</servlet-name>
    <servlet-class>com.royal.controller.DeleteStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStoreServlet</servlet-name>
    <url-pattern>/StoreOwner/DeleteStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreCheckServlet</display-name>
    <servlet-name>StoreCheckServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreCheckServlet</servlet-name>
    <url-pattern>/StoreOwner/StoreCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStoreOwnerServlet</display-name>
    <servlet-name>ListStoreOwnerServlet</servlet-name>
    <servlet-class>com.royal.controller.ListStoreOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStoreOwnerServlet</servlet-name>
    <url-pattern>/Admin/ListStoreOwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStoreOwnerServlet</display-name>
    <servlet-name>DeleteStoreOwnerServlet</servlet-name>
    <servlet-class>com.royal.controller.DeleteStoreOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStoreOwnerServlet</servlet-name>
    <url-pattern>/Admin/DeleteStoreOwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreListServlet</display-name>
    <servlet-name>StoreListServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreListServlet</servlet-name>
    <url-pattern>/Admin/StoreListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStoreServlet</display-name>
    <servlet-name>ViewStoreServlet</servlet-name>
    <servlet-class>com.royal.controller.ViewStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStoreServlet</servlet-name>
    <url-pattern>/Admin/ViewStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStoreServlet1</display-name>
    <servlet-name>ViewStoreServlet1</servlet-name>
    <servlet-class>com.royal.controller.ViewStoreServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStoreServlet1</servlet-name>
    <url-pattern>/StoreOwner/ViewStoreServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProductServlet</display-name>
    <servlet-name>InsertProductServlet</servlet-name>
    <servlet-class>com.royal.controller.InsertProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProductServlet</servlet-name>
    <url-pattern>/StoreOwner/InsertProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckProductServlet</display-name>
    <servlet-name>CheckProductServlet</servlet-name>
    <servlet-class>com.royal.controller.CheckProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckProductServlet</servlet-name>
    <url-pattern>/StoreOwner/CheckProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductServlet</display-name>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>com.royal.controller.ViewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/StoreOwner/ViewProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.royal.controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/StoreOwner/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/StoreOwner/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductServlet</display-name>
    <servlet-name>ListProductServlet</servlet-name>
    <servlet-class>com.royal.controller.ListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductServlet</servlet-name>
    <url-pattern>/StoreOwner/ListProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.royal.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/StoreOwner/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckProductServlet1</display-name>
    <servlet-name>CheckProductServlet1</servlet-name>
    <servlet-class>com.royal.controller.CheckProductServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckProductServlet1</servlet-name>
    <url-pattern>/Admin/CheckProductServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreOwnerForgetPasswordServlet</display-name>
    <servlet-name>StoreOwnerForgetPasswordServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreOwnerForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreOwnerForgetPasswordServlet</servlet-name>
    <url-pattern>/StoreOwner/StoreOwnerForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreOwnerResetPasswordServlet</display-name>
    <servlet-name>StoreOwnerResetPasswordServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreOwnerResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreOwnerResetPasswordServlet</servlet-name>
    <url-pattern>/StoreOwner/StoreOwnerResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreOwnerVerifyOTPServlet</display-name>
    <servlet-name>StoreOwnerVerifyOTPServlet</servlet-name>
    <servlet-class>com.royal.controller.StoreOwnerVerifyOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreOwnerVerifyOTPServlet</servlet-name>
    <url-pattern>/StoreOwner/StoreOwnerVerifyOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserForgetPasswordServlet</display-name>
    <servlet-name>UserForgetPasswordServlet</servlet-name>
    <servlet-class>com.royal.controller.UserForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserForgetPasswordServlet</servlet-name>
    <url-pattern>/User/UserForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVerifyOTPServlet</display-name>
    <servlet-name>UserVerifyOTPServlet</servlet-name>
    <servlet-class>com.royal.controller.UserVerifyOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVerifyOTPServlet</servlet-name>
    <url-pattern>/User/UserVerifyOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserResetPasswordServlet</display-name>
    <servlet-name>UserResetPasswordServlet</servlet-name>
    <servlet-class>com.royal.controller.UserResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserResetPasswordServlet</servlet-name>
    <url-pattern>/User/UserResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.royal.controller.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/Admin/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.royal.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/Admin/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminForgetPasswordServlet</display-name>
    <servlet-name>AdminForgetPasswordServlet</servlet-name>
    <servlet-class>com.royal.controller.AdminForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminForgetPasswordServlet</servlet-name>
    <url-pattern>/Admin/AdminForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminVerifyOTPServlet</display-name>
    <servlet-name>AdminVerifyOTPServlet</servlet-name>
    <servlet-class>com.royal.controller.AdminVerifyOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVerifyOTPServlet</servlet-name>
    <url-pattern>/Admin/AdminVerifyOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminResetPasswordServlet</display-name>
    <servlet-name>AdminResetPasswordServlet</servlet-name>
    <servlet-class>com.royal.controller.AdminResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminResetPasswordServlet</servlet-name>
    <url-pattern>/Admin/AdminResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.royal.controller.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/User/ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGiftByCategory</display-name>
    <servlet-name>SelectGiftByCategory</servlet-name>
    <servlet-class>com.royal.controller.SelectGiftByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGiftByCategory</servlet-name>
    <url-pattern>/SelectGiftByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGiftByOccasionServlet</display-name>
    <servlet-name>SelectGiftByOccasionServlet</servlet-name>
    <servlet-class>com.royal.controller.SelectGiftByOccasionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGiftByOccasionServlet</servlet-name>
    <url-pattern>/SelectGiftByOccasionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGiftByCategoryServlet</display-name>
    <servlet-name>SelectGiftByCategoryServlet</servlet-name>
    <servlet-class>com.royal.controller.SelectGiftByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGiftByCategoryServlet</servlet-name>
    <url-pattern>/SelectGiftByCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.royal.controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/User/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCartProductServlet</display-name>
    <servlet-name>ListCartProductServlet</servlet-name>
    <servlet-class>com.royal.controller.ListCartProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCartProductServlet</servlet-name>
    <url-pattern>/User/ListCartProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFromCartServlet</display-name>
    <servlet-name>DeleteFromCartServlet</servlet-name>
    <servlet-class>com.royal.controller.DeleteFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromCartServlet</servlet-name>
    <url-pattern>/User/DeleteFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortProductByPriceLowToHighServlet</display-name>
    <servlet-name>SortProductByPriceLowToHighServlet</servlet-name>
    <servlet-class>com.royal.controller.SortProductByPriceLowToHighServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortProductByPriceLowToHighServlet</servlet-name>
    <url-pattern>/SortProductByPriceLowToHighServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToWishListServlet</display-name>
    <servlet-name>AddToWishListServlet</servlet-name>
    <servlet-class>com.royal.controller.AddToWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToWishListServlet</servlet-name>
    <url-pattern>/User/AddToWishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListWishListProductServlet</display-name>
    <servlet-name>ListWishListProductServlet</servlet-name>
    <servlet-class>com.royal.controller.ListWishListProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListWishListProductServlet</servlet-name>
    <url-pattern>/User/ListWishListProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFromWishListServlet</display-name>
    <servlet-name>DeleteFromWishListServlet</servlet-name>
    <servlet-class>com.royal.controller.DeleteFromWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFromWishListServlet</servlet-name>
    <url-pattern>/User/DeleteFromWishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderProductServlet</display-name>
    <servlet-name>OrderProductServlet</servlet-name>
    <servlet-class>com.royal.controller.OrderProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderProductServlet</servlet-name>
    <url-pattern>/User/OrderProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProductByCategoryServlet</display-name>
    <servlet-name>SelectProductByCategoryServlet</servlet-name>
    <servlet-class>com.royal.controller.SelectProductByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProductByCategoryServlet</servlet-name>
    <url-pattern>/User/SelectProductByCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProductBySubCategoryServlet</display-name>
    <servlet-name>SelectProductBySubCategoryServlet</servlet-name>
    <servlet-class>com.royal.controller.SelectProductBySubCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProductBySubCategoryServlet</servlet-name>
    <url-pattern>/User/SelectProductBySubCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterProductServlet</display-name>
    <servlet-name>FilterProductServlet</servlet-name>
    <servlet-class>com.royal.controller.FilterProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterProductServlet</servlet-name>
    <url-pattern>/User/FilterProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutProductServlet</display-name>
    <servlet-name>CheckoutProductServlet</servlet-name>
    <servlet-class>com.royal.controller.CheckoutProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutProductServlet</servlet-name>
    <url-pattern>/User/CheckoutProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmOrderServlet</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>com.royal.controller.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/User/ConfirmOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutDetailServlet</display-name>
    <servlet-name>ProdutDetailServlet</servlet-name>
    <servlet-class>com.royal.controller.ProdutDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutDetailServlet</servlet-name>
    <url-pattern>/User/ProdutDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFeedBackServlet</display-name>
    <servlet-name>UserFeedBackServlet</servlet-name>
    <servlet-class>com.royal.controller.UserFeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFeedBackServlet</servlet-name>
    <url-pattern>/User/UserFeedBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderServlet</display-name>
    <servlet-name>ListOrderServlet</servlet-name>
    <servlet-class>com.royal.controller.ListOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderServlet</servlet-name>
    <url-pattern>/StoreOwner/ListOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderServlet</display-name>
    <servlet-name>ViewOrderServlet</servlet-name>
    <servlet-class>com.royal.controller.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderServlet</servlet-name>
    <url-pattern>/StoreOwner/ViewOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusServlet</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>com.royal.controller.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/StoreOwner/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListOrderServlet</display-name>
    <servlet-name>AdminListOrderServlet</servlet-name>
    <servlet-class>com.royal.controller.AdminListOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListOrderServlet</servlet-name>
    <url-pattern>/Admin/AdminListOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewOrderServlet</display-name>
    <servlet-name>AdminViewOrderServlet</servlet-name>
    <servlet-class>com.royal.controller.AdminViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewOrderServlet</servlet-name>
    <url-pattern>/Admin/AdminViewOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewUserOrderListServlet</display-name>
    <servlet-name>AdminViewUserOrderListServlet</servlet-name>
    <servlet-class>com.royal.controller.AdminViewUserOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewUserOrderListServlet</servlet-name>
    <url-pattern>/Admin/AdminViewUserOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFeedbackServlet</display-name>
    <servlet-name>ListFeedbackServlet</servlet-name>
    <servlet-class>com.royal.controller.ListFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFeedbackServlet</servlet-name>
    <url-pattern>/Admin/ListFeedbackServlet</url-pattern>
  </servlet-mapping>
</web-app>